.full-screen {
  background-color: #000000;
  position: relative;
  overflow: hidden;
  /*
      Make height and width dynamic in javascript
      for consistency in different screen sizes and
      in use for resizable screen features
  */
  height: 99%;
  width: 99%;
}

html, body {
  overflow: hidden;
  height: 100%;
  width: 100%;
}